



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}



	
@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
font-family: 'Ubuntu', sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #fc00ff;
  border-color: #fc00ff;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 4px
  border-color: transparent !important;
}


input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
.username{
	padding-top: 31px;
	padding-bottom: 9px;
}
button {
	margin-bottom: 38px;
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
font-family: 'Ubuntu', sans-serif;;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
}

.txt2 {
font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}

.bo1 {border-bottom: 1px solid #999999;}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}
.lb-header .active{
  color: #029f5b;
  font-size: 18px;
	font-size: 14px;
}
.container-login100 {
	
  width: 100%;  
  min-height: 100vh;
  display: flex;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-top: 13px;
padding-top: 31px;
padding-top: 55px;
padding-top: 62px;
padding-top: 62px;
padding-bottom: 9px;
 padding-bottom: 53px;
padding-left: 110px;
padding-right: 110px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
	
}
 .wrapper .logo{
	 margin-left: 15px;
	font-size: 20px;
	position: absolute;
		top:12px;
	font-weight: 700;
}
.wrapper .logo:hover{
	color:#3CB878;
	cursor: pointer;
}
.wrapper .logo:hover{
	color:#3CB878;
	cursor: pointer;
}
 .Log:hover{
	color:#3CB878;
	cursor: pointer;
}
.Sign:hover{
	color:#3CB878;
	cursor: pointer;
}
header{
	position: absolute;
width: 100%;
#
left: 0px;
top: 0px;
color: white;
background: rgba(0, 0, 0, 0.4);
}
path:hover{
  fill:#3CB878;
}
.ui svg{

left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
fill:#3CB878;
border: #3CB878;
fill:#3CB878;
width: 21px;
	margin:10px 14px;
}
.ui__2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14;
	font-weight: 600;
	padding: 18px 32px;
}
.stripe{
	position: relative;
	
top:6px;
background: rgba(255, 255, 255, 0.9);
height: 2.7rem;
opacity: 0.5;
	font-size: 6px;
}
.wrapper{
	width: 1208px;
	margin: auto;
}
.aligning{
	display: flex;
	flex-direction:row;
	justify-content: flex-end;
}
.wrap-login100 {
position: relative;
  width: 680px;
  background: #fff;
  position: relative;
padding-top: 13px;
padding-top: 31px;
padding-top: 55px;
padding-top: 62px;
padding-top: 62px;
padding-bottom: 9px;



 margin-top: 0px;
 margin-top: 17px;
 margin-bottom: 20px;

}


/*==================================================================
[ Form ]*/

.login100-form {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	flex-wrap: wrap;
  width: 100%;
	padding-left: 110px;
 padding-right: 110px;
}

.login100-form-title {
	
padding-bottom: 23px;
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: left;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
 font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  
margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.btn-google::before,
.btn-face::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
 
 
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-face {
  color: #fff;
  background-color: #3b5998;
}

.btn-face i {
	width: 25px;
	height: 20px
	padding-bottom: 33px;
padding-bottom: 53px;
  font-size: 30px;
  margin-right: 17px;
  padding-bottom: 3px;
}
.btn-googl.google-officiali{
	width: 120px;
	height: 20px;
	line-height: 22px;
}
.btn-google .google-official{
	width: 132px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: flex-end;
	
}
.btn-google .google{
	position: relative;
	bottom: -3px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
}
.btn-google  {
color: #fff;
  background-color: #DF4A32;
	
}

.google-official i {
  

}
.underline{
	color: #3CB878;
}
.underline:hover{
	text-decoration: underline;
}
.btn-google:hover:before {
	background:#AB1F09;
  opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
  color: #fff;
	background: #022263;
}

.green{
	position: absolute;
	left: -115px;
	width: 22px;
	height: 22px;
	background:#3CB878;
}
/*------------------------------------------------------------------
[ Input ]*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
    border: 1px solid;
  border-color:#F2F2F2;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  border-style:solid;
  border-color:green;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid green;
  border-width: 0 3px 3px 0;

  transform: rotate(45deg);
}
.title{ 
margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
color: #848484;
	margin-top: 31px;
}
.line__1{
	background:#F2F2F2;
	height:1px;
	width: 152px;
align-self: center;
		margin-top: 3px;	
}
.line__2{
	background: #F2F2F2;
	height: 1px;
	width: 152px;
align-self:center;
	
	margin-top: 3px;	
}
input::placeholder {
 
    opacity: 0.9;
  color:#BEBEBE
}
 
.wrap-input100 {
	margin: 15px;
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  font-family: 'Ubuntu', sans-serif;
}



.input100 {
  
  color: #333333;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  
  height: 60px;
  padding: 0 20px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/
.lb-header{	display: flex;
	flex-direction: row;
	justify-content: space-between;
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}

.lb-header .active{
  color: #029f5b;
  font-size: 18px;
}

.lb__header a{

  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 24px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.login-box{
  position:relative;
  margin: 10px auto;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border-color: none;


  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

 
  transform: scale(1);
}
#signup-box-link a{
	font-size: 14px;
}
#signup-box-link, a{
	font-size: 20px;
	text-decoration: none;
font-family: 'Ubuntu', sans-serif;
	color: #434343;
	font-weight: 400;
}
.eff-focus-selection {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
#login-box-link:hover {
	text-decoration: underline;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.lb-header .active{
  color: #029f5b;
  font-size: 18px;
}
.login100-form-btn {
	
margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: rgba(60, 184, 120, 0.8);
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height:12%;
  border-radius: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.49s;
	background: #01813F;
}

.login100-form-btn:hover:before {
  opacity: 1;
	padding-bottom: 53px;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 768px) {
  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-face,
  .btn-google {
    width: 100%;
  }
}